### Java + Gradle + IDEs + OS

# Build and Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
.gradletasknamecache

# Java
*.class
*.log
hs_err_pid*
replay_pid*

# IDEs
.idea/
*.iml
.project
.classpath
.settings/
.vscode/
out/

# OS
.DS_Store
Thumbs.db

# Archives
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
